.flex-center {
  display: flex;
  justify-content: center;
}
ul.tab {
  list-style-type: none;
  background: #0d0d0d;
  border: 1px solid #1c1c1c;
  border-radius: 100px;
  display: block;
  min-width: 415px;
  display: flex;
  justify-content: space-between;
}
ul.tab li {
  float: left;
  padding: 0;
  position: relative;
}
ul.tab li label {
  padding: 9px 31px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
ul.tab li input[type='radio'] {
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  left: 15px;
}
ul.tab li input[type='radio']:checked ~ label {
  background: #1c1c1c;
  border: 1px solid rgba(61, 61, 61, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}
.checkedType {
  background: #1c1c1c;
  border: 1px solid rgba(61, 61, 61, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 175px;
  height: 35px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 8px 4.67px 8px 5.83px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 30%;
  top: -37px;
  margin-left: -60px;
}
.tooltip .tooltip-text div {
  font-style: normal;
  font-weight: normal;
  font-size: 13.5px;
  line-height: 19px;
  background: linear-gradient(0deg, #6d6afd, #6d6afd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tooltip .tooltip-text::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #ffffff transparent transparent transparent;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
@media screen and (max-width: 799px) {
  /* .expand-container {
    flex-direction: column;
  } */
  .stake-btn {
    margin-bottom: 3px;
  }
  .stake-btn span{
    width: 100%;
  }
  .container-staking {
 
   width: 100%; 
   
}
}
@media screen and (min-width: 445px) and (max-width: 570px) {
  ul.tab li label {
    width: 110px;
  }
  ul.togglebuttontab{
   /* display: flex;
   flex-direction: column; */
   border-radius: 10px;
  }
  ul.togglebuttontab li{
    width: 100%;
  }
  ul.togglebuttontab li label{
    width: 100%;
  }
}
@media screen and (min-width: 370px) and (max-width: 445px) {
  ul.togglebuttontab{
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
   }
  ul.togglebuttontab li{
    width: 100%;
  }
  ul.togglebuttontab li label{
    width: 100%;
  }


}
@media screen and (max-width: 500px) {
  .token-title {
    font-size: 19px;
    white-space: nowrap;
}
  .tvl-container {
    position: absolute;
    width: 400px;
    left: 0;
}
  ul.togglebuttontab{
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
    flex-direction: column!important;
    min-width: 100%;
   }
   .stake-btn{
    margin: 5px 0;

   }
   .stake-btn span {
    width: 100%;
   }
   ul.tab li input[type='radio']:checked ~ label {
 
    border-radius: 10px;
    
}
.stake-deposite-btn {
  width: 100%;
  }
  ul.togglebuttontab li{
    width: 100%;
    min-width: none;

  }
  ul.togglebuttontab li label{
    width: 100%;
    min-width: none;
  }
  .collapse-trigger {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.expand-container {
  flex-direction: column;
  margin: 0 auto;
}
.deposite-container {
 width: 100%;
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
}
.approve-btn {

  margin: 0 3px;
}
}
@media screen and (max-width: 370px) {
  .tvl-container {
    position: absolute;
    width: 360px;
    left: 0;
}
  ul.togglebuttontab{
    /* display: flex;
    flex-direction: column; */
    border-radius: 10px;
   }
  ul.togglebuttontab li{
    width: 100%;
    min-width: none;

  }
  ul.togglebuttontab li label{
    width: 100%;
    min-width: none;
  }
}
